* {
	font-size: 14px;
	font-family: "微软雅黑";
	color: slategray;
}
body {
	background-color: #008866;
	margin: 0 auto;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}

.sys-title {
	height: 240px;
	line-height: 320px;
	color: azure;
	font-size: 24px;
	font-weight: bold;
	margin: 0 auto;
	width: 400px;
	text-align: left;
}

.login-container {
	width: 400px;
	margin: 0 auto;
	padding: 0;
	background-color: azure;
}

.login-header {
	height: 50px;
	line-height: 50px;
	background-color: cadetblue;
}

.login-title {
	background: url(../img/user_login.png) no-repeat center left;
	padding-left: 30px;
	margin-left: 10px;
	font-size: 15px;
	font-weight: bold;
	color: azure;
	text-align: left;
}

.login-context {
	margin: 0 auto;
}

.form-item-group {
	width: 300px;
	margin: 20px auto;
	text-align: center;
	
}

.form-item {
	margin: 20px auto;
	height: 28px;
	line-height: 28px;
}

.form-item label {
	color: #008866;
	font-weight: bold;
}

.login-btn-group {
	width: 300px;
	margin: 0 auto;
	text-align: right;
	padding-right: 40px;
}

.login-btn {
	font-weight: bold;
	color: azure;
	width: 80px;
	height: 30px;
	border: 1px aquamarine solid;
	background: #008866;
	cursor: pointer;
}

.warring {
	background-color: #CE0000;
}

.text-input {
	border: none;
	border: #008866 1px solid;
	width: 200px;
	height: 26px;
	line-height: 26px;
	padding: 2px auto;
	color: #008866;
	padding-left: 5px;
}

#error_msg {
	width: 300px;
	font-size:12px;
	font-weight:bold;
	margin: 0 auto;
	text-align:left;
	color: red;
	padding: 15px 0;
	padding-left:40px;
}
